@using System.Security.Claims
@inject ThemeService _theme
@inject NavigationManager _navManager


<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <!-- LOGO -->
    <a href="/" class="logo text-center logo-light text-white">
        <span style="padding-top:15px;" class="logo-lg">
            <h4>
                Vendor Registration
            </h4>
        </span>
        <span class="logo-sm">
            <span>
                <img src="lib/hyper/images/hhcorp_updated_notext.png" height="24" alt="user-image">
            </span>
        </span>
    </a>

    <div class="h-100" id="left-side-menu-container">
        <!--- Sidemenu -->
        <ul class="metismenu side-nav"



                 <li class="side-nav-item">
            <NavLink class="side-nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i>
                <span> Home </span>
            </NavLink>
        </li>
                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="@($"/edit/companyinfo/{CompanyId}")">
                        <i class="uil uil-user-circle"></i>
                        <span> Account/Info </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="@($"/edit/company-contacts/{CompanyId}")">
                        <i class="fa-solid fa-address-book"></i>
                        <span> Contacts </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="@($"/edit/company-types-and-categories/{CompanyId}")">
                        <i class="fa-solid fa-briefcase"></i>
                        <span> Types/Categories </span>
                    </NavLink>
                </li>
              @*  </Authorized>
                </AuthorizeView>*@

            @*    <AuthorizeView Policy="AdminOrSuperUser">
                    <Authorized>*@
                         <li class="side-nav-item">
                     <NavLink class="side-nav-link" href="" Match="NavLinkMatch.All">
                         <i class="fa-solid fa-house"></i>
                        <span> Home </span>
                     </NavLink>
                 </li>
                    <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/notifications">
                        <i class="fa-solid fa-envelope"></i>
                        <span> Notifications </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/companies">
                        <i class="fa-solid fa-building"></i>
                        <span> Companies </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/minority-companies">
                        <i class="fa-solid fa-globe"></i>
                        <span> Minority</span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/types-and-categories-list">
                        <i class="fa-solid fa-briefcase"></i>
                        <span> Types/Categories </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/register">
                        <i class="uil uil-user-circle"></i>
                        <span> Register </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/reports">
                        <i class="fa-solid fa-play"></i>
                        <span>Reporting</span>
                    </NavLink>
                </li>
@*
                </Authorized>
                </AuthorizeView>*@

   @*             <AuthorizeView Policy="HHCUser">
                    <Authorized>
                         <li class="side-nav-item">
                     <NavLink class="side-nav-link" href="" Match="NavLinkMatch.All">
                         <i class="fa-solid fa-house"></i>
                        <span> Home </span>
                     </NavLink>
                 </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/register">
                        <i class="uil uil-user-circle"></i>
                        <span> Register </span>
                    </NavLink>
                </li>

                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/reports">
                        <i class="fa-solid fa-play"></i>
                        <span>Reporting</span>
                    </NavLink>
                </li>

                </Authorized>
                </AuthorizeView>*@

           @* <AuthorizeView>
                <NotAuthorized>*@
                <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/register">
                        <i class="uil uil-user-circle"></i>
                        <span> Register </span>
                    </NavLink>
                </li>

                 <li class="side-nav-item">
                    <NavLink class="side-nav-link" href="/account/login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span> Log In </span>
                    </NavLink>
                </li>
           @* </NotAuthorized>
            </AuthorizeView>*@

            </ul>

        <div class="fixed-bottom position-absolute mb-1" style="z-index: -1">
            <!-- Help Box -->
            <div class="help-box text-white text-center">
                <img src="/HHCMCPHD-logo.png" alt="HHC and MCPHD Icon Image" style="width: 100%; filter: brightness(0) invert(1);" />
            </div>


            <!-- end Help Box -->
        </div>
        <div class="fixed-bottom position-absolute d-flex justify-content-center">
            <span class="badge badge-secondary mb-1">@($"v{version.Major}.{version.Minor}.{version.Build} build {version.Revision}")</span>

        </div>

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
@code {
    private string? CompanyId { get; set; }
    private bool collapseNavMenu = true;
    private Version version = Assembly.GetEntryAssembly().GetName().Version;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        //var userAuth = await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetAuthenticationStateAsync();

        var userAuth = ClaimsPrincipal.Current;

        if (userAuth != null)
        {
            var claims = userAuth.Claims.ToList();  //

            CompanyId = claims?.FirstOrDefault(claim => claim.Type.Equals("Company"))?.Value;
        }

    }
}